<header>
	<div class="app-container">
		<h3>Shop Nepali</h3>
		<nav>
			<ul class = "primary-menu">
				<li>
					<a href="#/">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						&nbsp;Home
					</a>
				</li>
				<li>
					<a href="#/shop">
						<span class="fa fa-shopping-bag" aria-hidden="true"></span>&nbsp;Shop
					</a>
					<span class="fa fa-chevron-down down-arrow" aria-hidden="true"></span>
					<ul class="primary-sub-menu">
						<li>
							<a href="#/shop/accessories">Accessories</a>
						</li>
						<li>
						<a href="#/shop/clothing">Clothing</a>
						<span class="fa fa-chevron-right right-arrow" aria-hidden="true"></span>
						<ul class="secondary-sub-menu">
							<li>
								<a href="#/">Men</a>
							</li>
							<li>
								<a href="#/">Women</a>
							</li>
							<li>
								<a href="#/">Kids</a>
							</li>
						</ul>
					</li>
				</ul> 
			</li>
			<li>
				<a href="#/cart">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart&nbsp;(0)
				</a>
			</li>
			<li>
				<a href="#/account">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Account
				</a>
			</li>
			<li>
				<a href ="#/contact-us">
				<span class= "glyphicon glyphicon-envelope" aria-hidden="true"></span>
				&nbsp;Contact Us
				</a>
			</li>
			</ul>
		</header>

